{% extends 'base.html.twig' %}

{% block title %}New Departement{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Create new Departement</h1>

            {{ include('departement/_form.html.twig') }}

            <a href="{{ path('app_departement_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
